@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Pixelify+Sans:wght@400..700&family=Silkscreen:wght@400;700&display=swap');

:root {
    --cor-primaria: #03ff039c;
    --cor-secundaria: #393e468e;
    --cor-terciaria: #EEEEEE;
    --fonte-primaria: "Kode Mono", "sans-serif";
}

.estilo {
    z-index: -1;
}

* {
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    color: white;
}

.cabecalho {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    background-color: var(--cor-primaria);
    padding: 1% 1% 1% 1%;
}

.cabecalho__imagem__ONE { 
    filter: saturate(150%) brightness(115%);
    width: 6.25rem;
}

.cabecalho__imagem__Alura { 
    filter: saturate(150%);
    width: 6.25rem;
}

.apresentacao {
    display: flex; 
    min-height: 100vh;
}

.apresentacao__conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.apresentacao__conteudo__introducao {
    display: flex;
    justify-content: center;
    font-family: var(--fonte-primaria);
    font-weight: 400;
    gap: 8px;
}

.apresentacao__conteudo__texto {
    padding: 1% 20% 1% 20% ;
    margin: 0px;
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: var(--fonte-primaria);
    font-size: 20px;
    font-weight: 600;
}

.rayquaza__imagem {
    display: flex;
    justify-content: center;
    width: 30%;
    margin-left: 35%;
}

.decodificadorPag {
    justify-content: space-evenly;
    display: flex; 
    min-height: 100vh
}

.text-area {
    background-color: var(--cor-secundaria);
    margin-top: 90px;
    border-radius: 3px;
    color: var(--cor-primaria);
    text-transform: lowercase;
}

::placeholder { color: var(--cor-primaria);}
    .text-area:focus {
        outline: none;
    }

.mensagem {
    background-color: var(--cor-secundaria);
    border-radius: 3px;
}
.mensagem:focus {
    outline: none;
}

.informacao {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.botoes {
    display: flex;
    margin-top: 18px;
    justify-content: center;
}

.desencriptar {
    background: none;
    border: 1px solid var(--cor-primaria);
    border-radius: 3px;
    color: var(--cor-primaria);
    cursor: pointer;
    height: 40px;
    margin-left: 30px;
    width: 328px;
}

.encriptar {
    background-color: var(--cor-primaria);
    border: 1px solid var(--cor-primaria);
    border-radius: 3px;
    color: white;
    cursor: pointer;
    height: 40px;
    width: 328px;
}

.copiar {
    background: none;
    border: 1px solid var(--cor-primaria);
    border-radius: 3px;
    color: var(--cor-primaria);
    cursor: pointer;
    height: 40px;
    margin-top: -45px;
    width: 336px;
}

.tela__Mensagem {
    margin-top: -300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.rodape {
    background-color: var(--cor-primaria);
    display: flex;
    justify-content: center;
    
}

.rodape__informacoes {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-family: var(--fonte-primaria);
    font-weight: 400;
    color: black;
    text-align: center;
    padding: 5px;
}

@media (max-width: 1366px) and (max-height: 768px) {
    .tela__Mensagem {
        margin-top: -25px;
    }

    .cabecalho__imagem__ONE { 
        filter: brightness(100%);

    }
} 

@media (max-width: 1024px) and (max-height: 768px) {
    .decodificadorPag {
        margin: 0%;
        padding: 0%;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text-area {
        width: 30%;
        margin-left: 360px;
    }

    .mensagem {
        width: 70%;
    }

    .botoes {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .desencriptar {
        margin: 0%;
        padding: 0%;
    }

    .encriptar {
        margin: 0%;
        padding: 0%;
    }
}