@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Pixelify+Sans:wght@400..700&family=Silkscreen:wght@400;700&display=swap');

:root {
    --cor-primaria: #03ff039c;
    --cor-secundaria: #393e468e;
    --cor-terciaria: #EEEEEE;
    --fonte-primaria: "Kode Mono", "sans-serif";
}

.estilo {
    z-index: -1;
}

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
}

.cabecalho__menu {
    display: flex;
    gap: 14px;
}

.cabecalho__menu__link {
    border-radius: 2px;
    border: 2px solid var(--cor-terciaria);
} 

.cabecalho {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    background-color: var(--cor-primaria);
    padding: 1% 1% 1% 1%;
}

.cabecalho__imagem__ONE { 
    filter: saturate(150%) brightness(115%);
    width: 6.25rem;
}

.cabecalho__imagem__Alura { 
    filter: saturate(150%);
    width: 6.25rem;
}

.apresentacao {
    display: flex;
    flex: 1 1 0;
    min-height: 100vh;
}

.apresentacao__conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.apresentacao__conteudo__introducao {
    display: flex;
    justify-content: center;
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.56rem;
}

.apresentacao__conteudo__texto {
    padding: 1% 20% 1% 20% ;
    margin: 0px;
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: var(--fonte-primaria);
    font-size: 1.25rem;
    font-weight: 600;
}

.rayquaza__imagem {
    display: flex;
    justify-content: center;
    width: 30%;
}

.decodificadorPag {
    flex: 1 1 0;
    justify-content: space-evenly;
    display: flex; 
    min-height: 100vh;

}

.deco__pag__textos {
    display: flex;
    margin-top: 100px;
    gap: 30px;
}

.text-area {
    width: 800px auto;
    height: 400px auto;
    font-weight: 400;
    font-family: var(--fonte-primaria);
    background-color: var(--cor-secundaria);
    border-radius: 3px;
    color: var(--cor-primaria);
    text-transform: lowercase;
}

::placeholder { color: var(--cor-primaria);}
    .text-area:focus {
        outline: none;
    }

.mensagem {
    width: 800px auto;
    height: 400px auto;
    font-weight: 400;
    font-family: var(--fonte-primaria);
    background-color: var(--cor-secundaria);
    border-radius: 3px;
}
.mensagem:focus {
    outline: none;
}

.informacao {
    font-size: 0.75rem;
    font-weight: 400;
    font-family: var(--fonte-primaria);
    display: flex;
    justify-content: center;
}

.botoes {
    display: flex;
    margin-top: 18px;
    justify-content: center;
    gap: 20px;
    
}

.desencriptar {
    font-weight: 400;
    font-family: var(--fonte-primaria);
    background: none;
    border: 1px solid var(--cor-primaria);
    border-radius: 3px;
    color: var(--cor-primaria);
    cursor: pointer;
    height: 40px;
    width: 328px;
} 

.encriptar {
    font-weight: 400;
    font-family: var(--fonte-primaria);
    background-color: var(--cor-primaria);
    border: 1px solid var(--cor-primaria);
    border-radius: 3px;
    color: white;
    cursor: pointer;
    height: 40px;
    width: 328px;

} 

.copiar {
    font-weight: 400;
    font-family: var(--fonte-primaria);
    background-color: var(--cor-secundaria);
    border: 1px solid var(--cor-primaria);
    border-radius: 3px;
    color: var(--cor-primaria);
    cursor: pointer;
    height: 40px;
    width: 328px;
} 

.rodape {
    margin-top: 20px;
    background-color: var(--cor-primaria);
    display: flex;
    justify-content: center;
    width: 100%;
}

.rodape__informacoes {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-family: var(--fonte-primaria);
    font-weight: 400;
    color: black;
    text-align: center;
    padding: 5px;
}

@keyframes crescer {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.05);
    }
}

@keyframes encolher {
    0% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
} 

.encriptar:hover {
    transition: all 0.5s;
    animation-name: crescer ;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;

} .encriptar:not(:hover) {
    animation-name: encolher;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.desencriptar:hover {
    transition: all 0.5s;
    animation-name: crescer ;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;

} .desencriptar:not(:hover) {
    animation-name: encolher;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.copiar:hover {
    transition: all 0.3s;
    animation-name: crescer ;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;

} .copiar:not(:hover) {
    animation-name: encolher;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.cabecalho__menu__link:hover {
    transition: all 0.3s;
    animation-name: crescer ;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;

} .cabecalho__menu__link:not(:hover) {
    animation-name: encolher;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@media screen and (min-width: 1360px) and (max-width: 2560px)  {
    * { 
        padding: 0%;
        margin: 0%;
    }
    .text-area {
        width: 600px;
        height: 350px;
    }

    .mensagem {
        width: 600px;
        height: 350px;
    }

    .cabecalho__imagem__ONE { 
        filter: brightness(100%);

    }
} 

@media screen and (min-width: 828px) and (max-width: 1359px) {
    * {
        padding: 0%;
        margin: 0%;
    }

    .decodificadorPag {
        margin-top: -70px;
        display: flex;
        justify-content: center;
    }

    .deco__pag__textos {
        flex-direction: column;
        align-items: center;
    }

    .rayquaza__imagem {
        width: 30%;
    }

    .botoes {
        flex-direction: column;
        align-items: center;
    }

    .text-area {
        width: 600px;
        height: 300px;
    }

    .mensagem {
        width: 600px;
        height:300px;
    }
}

@media screen and (min-width: 320px) and (max-width: 828px) {
    * {
        padding: 0%;
        margin: 0%;
    }

    .apresentacao__conteudo__introducao {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .apresentacao__conteudo__texto {
        margin-top: 20px;
    }

    .decodificadorPag {
        margin-top: -60px;
        display: flex;
        justify-content: center;
    }

    .rayquaza__imagem {
        width: 65%;
    }

    .deco__pag__textos {
        display: flex;
        flex-direction: column;
    }

    .text-area {
        width: 300px;
        height: 450px;
    }

    .botoes {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .encriptar {
        width: 35%;
    }

    .desencriptar {
        width: 122px;
    }

    .copiar {
        width: 35%;
    }

    .mensagem {
        width: 300px;
        height: 450px;
    }
}